@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d; 
    padding: 18px 24px;
    max-width: 345px;
    margin: 0px 5px;
}

.image{
    margin-bottom:26px ;
}

.description{
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}

.skills{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
}

.skillList{
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background-color: var(--dark-color);
    padding: 5px 22px;
}

.linksContainer{
    width: 100%;
    margin-top: 30px;
}
.link{
    text-decoration: none;
    color: var(--colos-text);
    font-size: 28px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--primary-color);
    padding: 2px 22px;
}